<!DOCTYPE html>

<html>
	<head>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<title>Rango</title>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1 class="page-header">Rango says ...</h1>
				{% if categories %}
					<ul>
						{% for category in categories %}
						<li>
							<a href="/rango/category/{{ category.slug }}">
								{{ category.name }}
							</a>
						</li>
						{% endfor %}
					</ul>
				{% else %}
					<div class="bg-danger">
						<h3>There are no categories present.</h3>
					</div>
				{% endif %}
				<a href="/rango/about">About</a>
			</div>
		</div>

	</body>
</html>