@import url('bootstrap-3.min.css');
li {
	list-style-type: none;
}
.errorlist {
	color: red;
	line-height: 20px;
	margin: 0;
	display: inline;
	float: right;
}
* {
	border-radius: 0 !important;
}
body {
	font-family: 'weblysleek';
}

.joke {
	background: #cec;
	padding: 20px 50px;
	margin-bottom: 5px;
}
.inner-category {
	color: #f00;
}

.add_author_form {
	font-size: 1.5em;
}
.add_author_form input, .add_author_form select {
	font-size: .8em;
}

@font-face {
		font-family: 'weblysleek';

		/*src: url('../font/weblysleek/weblysleekuisl.ttf') format('truetype');*/
		src: url('../font/weblysleekuil.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}